<h1> Show Page Checkout Suggested Resources from Current Users! </h1>
<hr>
<h4> Name: <%= @resource.user.username %>  </h4>
<h4> Website: <%= @resource.website_domain %>  </h4>
<h4> Notes: <%= @resource.notes %>  </h4>

<%= link_to "Back", resources_path%>


