<h1> Show Page Checkout Suggested Resources from Current Users! </h1>
<hr>

<h4> Dealine: <%= @micro_goal.deadline %>  </h4>
<h4> Micro Goal: 
<br>
<br>
<%= @micro_goal.content %>  </h4>

t.string "deadline"
t.string "content"
t.integer "goal_id"
<br/>
<%= link_to "Back", micro_goals_path%>
<%= link_to "Edit", edit_micro_goal_path%>